{% extends "base.html" %}

{% block content %}
        {% if item %}
        <div class="row mb-5">
            <div class="col" style="text-align: center;">
                {% if item.image %}
                <img class="img-fluid w-75" src="/{{ item.image }}" alt="{{ item.name }}">
                {% else %}
                <img class="img-fluid w-75" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" alt="{{ item.name }}">
                {% endif %}
                <p class="h1" style="font-family: 'Dirty Headline Cyrillic';color: var(--bs-light);">{{ item.name }}</p>
                <p class="h2" style="font-family: 'Dirty Headline Cyrillic';color: var(--bs-light);">{{ item.in_stock }}</p>
                <p class="h3" style="font-family: 'Dirty Headline Cyrillic';color: var(--bs-light);">{{ item.current_price }}</p>
            </div>
        </div>
        {% else %}
        <div class="row mb-5">
            <div class="col" style="text-align: center;">
                <p class="h1" style="font-family: 'Dirty Headline Cyrillic';color: var(--bs-light);">Не найдено</p>
            </div>
        </div>
        {% endif %}
{% endblock %}