<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.png">

    <title>Запчасти</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <!-- Bootstrap core JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <h1 style="display: block; text-align: center;">
        <div class="row">
          <div class="col-md-4">
              <img style="weidth:200px;height:200px" src="/static/лого 2.png"/>
          </div>
          <div class="col-md-8 text-start">
              <div class="flex-row"><a href="https://wa.me/79200866635"><i class="fa fa-whatsapp" aria-hidden="true"></i></a><i class="fa fa-telegram" aria-hidden="true"></i><a href="tel:+79200866635" class="text-danger">+7(920)086-66-35</a><span class="text-danger">Андрей</span></div>
              <div class="flex-row"><a href="https://wa.me/79208138071"><i class="fa fa-whatsapp" aria-hidden="true"></i></a><i class="fa fa-telegram" aria-hidden="true"></i><a href="tel:+79208138071" class="text-danger">+7(920)813-80-71</a><span class="text-danger">Светлана</span></div>
              <div class="flex-row"><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:backanovandrei@yandex.ru" class="text-danger">backanovandrei@yandex.ru</a></div>
              <div class="flex-row"><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:sale-orel@mail.ru" class="text-danger">sale-orel@mail.ru</a></div>
          </div>
        </div>
    </h1>
  <form action="/search" method="get">
      <div class="form-group">
          <label>Поиск</label>
          <input type="search" class="form-control" placeholder="Введите OEM-номер" aria-label="Поиск" name="search">
          <button class="btn btn-danger" type="submit">Поиск</button>
      </div>
  </form>
  {% block body_container %}
  {% endblock %}
  {% block pagination %}
  {% endblock %}
</body>
</html>