{% block content %}
        {% for row in items|batch(3) %}
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 p-3">
            {% for item in row %}
            <div class="col" itemscope="" itemtype="http://schema.org/Product">
                <div class="card">
                    {% if item.image %}
                    <img class="object-fit-cover card-img-top w-100 d-block" style="height: 200px;" src="/{{ item.image }}" alt="{{ item.name }}">
                    {% else %}
                    <img class="object-fit-cover card-img-top w-100 d-block" style="height: 200px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" alt="{{ item.name }}">
                    {% endif %}
                    <div class="card-body p-4">
                        <h4 class="card-title">{{ item.name }}</h4>
                        <p class="card-text">{{ item.is_stock }}</p>
                        <p class="card-text">{{ item.current_price }}</p>
                        <a itemprop="url" class="btn btn-outline-primary" href="/items/{{ item.name }}" role="button">Открыть</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
{% endblock %}